@charset "UTF-8";

/** Special Fonts: Kanit **/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/** Normalizing **/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0px;
    padding: 0px;
    border: none;
}

/** Colorscheme **/
:root {
    --BackgroundColor: white;
    --TextColor: black;
    --NavForegroundColor: white;
    --NavBackgroundColor: rgb(38, 76, 94);
    --NavTableBorder: rgb(221, 221, 221);
    --NavFocusedElement: yellow;
    --ButtonColor: gray;
}

body {
    font-family: "Kanit", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: var(--TextColor);
    background-color: var(--BackgroundColor);
}

/* Navigation */
nav {
    width: 300px;
    background-color: var(--NavBackgroundColor);

    section {
        /* Divide nav-height into two sections */
        height: calc(50% - 15px);
        margin: 10px;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        header {
            /* Title row for navigation-element plus optionally buttons */
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;

            h1 {
                font-size: 1.5rem;
                color: var(--NavForegroundColor);
            }

            input[type="file"] {
                display: none;
            }

            .NavButton {
                margin-left: 5px;
                margin-right: 5px;

                svg {
                    display: block;
                    height: 2rem;
                    fill: var(--NavForegroundColor);
                    cursor: pointer;
                    transition: fill 0.4s ease-out;
                }            
            }

            .NavButton:hover svg {
                transition: fill 0.4s ease-in;
                fill: var(--NavFocusedElement);
            }

        }

        > ul {
            /* Direct following list */
            flex-grow: 1;
            overflow-y: scroll;
            background-color: var(--BackgroundColor);
        }

        ul.PropGrid {
            /* Styling for all lists */
            list-style: none;

            li {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: flex-start;
            }
        }

        tifo {
            /* Hide all tifo structures in navigation */
            display: none;
        }

    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked ~ table tbody {
        display: table-row-group;
    }

    input[type="checkbox"]:checked ~ label svg.UIMenuExpander {
        .UIMenuOpen {
            display: block;
        }

        .UIMenuClosed {
            display: none;
        }
    }

    table.PropGrid {
        border-collapse: collapse;
        flex-basis: 100%;

        th {
            background-color: var(--NavTableBorder);
            border-width: 1px;
            border-style: solid;
            border-color: var(--NavTableBorder);
        }

        tbody {
            display: none;

            td {
                font-size: 0.8rem;
                border-style: solid;
                border-width: 1px;
                border-color: var(--NavTableBorder);

                input:focus {
                    background-color: var(--NavFocusedElement);
                }
            }

            td:first-of-type {
                padding: 3px;
                width: 30%;
            }

            td:not(:first-of-type) * {
                width: 100%;
                height: 1.6rem;
                padding: 2px;
            }
        }
    }

    svg {
        /* General Fill Color for svg Symbols */
        fill: var(--NavBackgroundColor);
    }

    svg.UIMenuExpander {
        /* Style Definition for Expander-Symbol */
        width: 12px;
        margin-top: 8px;
        margin-left: 5px;
        margin-right: 5px;

        .UIMenuOpen {
            fill: black;
            display: none;
        }

        .UIMenuClosed {
            fill: none;
            stroke: gray;
            stroke-width: 30px;
        }
    }
}